body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Style nagłówka */
header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Style sekcji klientów */
.view-section {
    background-color: #f2f2f2;
    padding: 50px;
    text-align: center;
}

.view-section h2 {
    margin-top: 0;
}


.view-section table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: left;
}

.view-section label {
    display: block;
    margin-top: 10px;
}

.view-section input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ccc;
}

.view-section a button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.view-section a button[type="submit"]:hover {
    background-color: #555;
}

/* Style stopki */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    margin-top: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}